.App {
  text-align: center;
  padding: 10px 10vw 0;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 34px;
  pointer-events: none;
}

.App-header {
  padding: 5px 15px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 12pt;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Loading */
.overlay-content {
  display: flex;
  width: 100%;
  left: 0;
  top: 0;
  align-items: center;
  height: 100%;
  justify-content: center;
  position: fixed;
  z-index: 999999;
  background: rgba(0, 0, 0, 0.75);
  flex-direction: column;
}

.overlay-content .wrapper {
  display: inherit;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.overlay-content .wrapper .message {
  margin-top: 20px;
  color: white;
  font-weight: bold;
  text-shadow: 0 2px 5px black;
}

.toast-msg b {
  color: green;
}

/* Home */
.title {
  color: burlywood;
  font-weight: bold;
  font-size: 1.4em;
}

.new-post-icon {
  font-size: 24px;
  text-align: right;
}
.home-icon {
  font-size: 24px;
  text-align: left;
}
a {
  color: white;
}
a:hover {
  color: burlywood;
}

.App-data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.post-not-found {
  color: white;
  text-align: left;
}

.page-404 {
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: burlywood;
}

.page-404-code {
  font-size: 6em;
}

.page-404-message {
  font-size: 2em;
}

/* Sidebar */
.sidebar-menu {
  padding: 10px 0;
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: steelblue;
  margin-bottom: 10px;
  list-style-type: none;
  width: 14vw;
  text-transform: capitalize;
  font-size: 0.8em;
  font-weight: bold;
  padding: 4px;
  min-height: 26px;
}
.menu-item:hover {
  background-color: burlywood;
  cursor: pointer;
}
.button-active {
  background-color: burlywood;
}

.footer {
  color: white;
  margin-top: 16px;
  font-size: 9pt;
}
.footer-line {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 8px;
}
.footer-icon {
  height: 24px;
  width: 24px;
  padding: 0 12px 0;
  size: 34px;
}

/* Post Section */
.post-list-header {
  color: burlywood;
  font-size: 1.95em;
  margin-top: 12px;
  margin-bottom: 24px;
  text-align: left;
  width: 100%;
}

.post-list-table {
  width: 100%;
  color: white;
  text-align: left;
}

.post-list-line,
.post-data {
  margin-left: 32px;
  padding: 16px 0;
  width: 100%;
}

th,
td {
  min-width: 100px;
}

/* Post Menu */
.post-menu * {
  margin-right: 5px;
}
.post-menu *:hover {
  color: burlywood;
  cursor: pointer;
}

/* Edit Post Form */
.edit-form-title {
  color: white;
}
.edit-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.edit-form {
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.edit-form input,
textarea,
button {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 12pt;
  padding: 14px;
  margin-bottom: 10px;
  border-radius: 4px;
}
.edit-form-footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.edit-form-footer button {
  width: 100%;
  background-color: steelblue;
  border-color: steelblue;
  font-weight: bold;
  text-transform: uppercase;
}
.edit-form-footer input {
  width: 86%;
}
.edit-form-column {
  width: 45%;
}

/* Edit Post Page */
.post-info {
  margin-left: 32px;
  padding: 16px 0;
  width: 100%;
  color: white;
}
.post-title {
  margin-top: 24px;
  color: burlywood;
  font-size: 1.5em;
  text-align: left;
}
.post-body {
  margin-top: 8px;
  font-size: 14pt;
  text-align: left;
}
